programme/fonctions/afficher_chessboard
programme/fonctions/choose_queen
programme/fonctions/ecrire_chessboard
programme/fonctions/lire_chessboard
programme/fonctions/place_queen
programme/fonctions/test
programme/fonctions/winning
programme/projet_2022_test
programme/projet_2022

